#pardotvpcApp .table {
    width: 100%;
    max-width: 100%;
}

#pardotvpcApp .table th, #pardotvpcApp .table td {
    text-align: left;
    padding: 8px;
}

#pardotvpcApp .table th {
    background-color: #0073AA;
    color: white;
}

#pardotvpcApp .table tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"], input[type="password"] {
    width: 50%;
}

.field-mappings table {
    min-width: 300px;
}

.field-mappings table input[type="text"] {
    width: 100%;
}

.field-mappings label{
    font-weight: bold;
}

.field-mappings {
    border: 1px solid lightblue;
    margin-top: 10px;
    padding: 5px;
}